# Working on Real Project in Python

# A Part Of Big Data Analysis

# The SuperStore_Sales_Dataset

# Import Data Set

In [1]:
import pandas as pd

In [2]:
SuperStore = pd.read_csv('SuperStore_Sales_Dataset.csv')

# How to Analysis DataFrames

# .head() Method

In [3]:
SuperStore.head(2)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,NaN,Online,NaN,NaN

In [4]:
SuperStore.tail(2)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
5899,909,CA-2020-143259,30-12-2020,03-01-2021,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,462.776,3,19.7910,NaN,COD,NaN,NaN
5900,5093,CA-2020-151450,31-12-2020,04-01-2021,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,...,Office Supplies,Fasteners,Bagged Rubber Bands,2975.510,3,-0.6048,NaN,COD,NaN,NaN

# .shape Method

In [5]:
SuperStore.shape

(5901, 23)

# .Index Method

In [6]:
SuperStore.index

RangeIndex(start=0, stop=5901, step=1)

# .columns Method

In [7]:
SuperStore.columns

Index(['Row ID+O6G3A1:R6', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Profit', 'Returns', 'Payment Mode', 'ind1',
       'ind2'],
      dtype='object')

# .dtypes Method

In [8]:
SuperStore.dtypes

Row ID+O6G3A1:R6      int64
Order ID             object
Order Date           object
Ship Date            object
Ship Mode            object
Customer ID          object
Customer Name        object
Segment              object
Country              object
City                 object
State                object
Region               object
Product ID           object
Category             object
Sub-Category         object
Product Name         object
Sales               float64
Quantity              int64
Profit              float64
Returns             float64
Payment Mode         object
ind1                float64
ind2                float64
dtype: object

# .counts

In [9]:
SuperStore.count()

Row ID+O6G3A1:R6    5901
Order ID            5901
Order Date          5901
Ship Date           5901
Ship Mode           5901
Customer ID         5901
Customer Name       5901
Segment             5901
Country             5901
City                5901
State               5901
Region              5901
Product ID          5901
Category            5901
Sub-Category        5901
Product Name        5901
Sales               5901
Quantity            5901
Profit              5901
Returns              287
Payment Mode        5901
ind1                   0
ind2                   0
dtype: int64

# value_counts() Method

In [10]:
SuperStore.head(1)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN

In [11]:
SuperStore['Product Name'].value_counts().head(10)

Easy-staple paper                                  27
Staples                                            24
Staple envelope                                    22
Staples in misc. colors                            13
Chromcraft Round Conference Tables                 12
Storex Dura Pro Binders                            12
Staple remover                                     12
Avery Non-Stick Binders                            11
Global Wood Trimmed Manager's Task Chair, Khaki    11
GBC Instant Report Kit                             10
Name: Product Name, dtype: int64

In [12]:
SuperStore['City'].value_counts().head(70)

New York City    563
Los Angeles      430
Philadelphia     310
San Francisco    304
Seattle          282
                ...
Glendale          16
Tulsa             16
Inglewood         16
Quincy            15
Wilmington        15
Name: City, Length: 70, dtype: int64

In [13]:
SuperStore['Category'].value_counts().head(4)

Office Supplies    3569
Furniture          1249
Technology         1083
Name: Category, dtype: int64

In [14]:
SuperStore['Customer Name'].value_counts().head(100)

Emily Phan           27
Seth Vernon          25
Paul Prost           25
Edward Hooks         25
Pete Kriz            24
                     ..
Joel Eaton           13
Todd Boyes           13
Maris LaWare         13
Cassandra Brandow    13
Eric Hoffmann        13
Name: Customer Name, Length: 100, dtype: int64

# .info Method()

In [15]:
SuperStore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID+O6G3A1:R6  5901 non-null   int64
 1   Order ID          5901 non-null   object
 2   Order Date        5901 non-null   object
 3   Ship Date         5901 non-null   object
 4   Ship Mode         5901 non-null   object
 5   Customer ID       5901 non-null   object
 6   Customer Name     5901 non-null   object
 7   Segment           5901 non-null   object
 8   Country           5901 non-null   object
 9   City              5901 non-null   object
 10  State             5901 non-null   object
 11  Region            5901 non-null   object
 12  Product ID        5901 non-null   object
 13  Category          5901 non-null   object
 14  Sub-Category      5901 non-null   object
 15  Product Name      5901 non-null   object
 16  Sales             5901 non-null   float64
 17  Quantity          5901 non-null   int64
 18  Profit            5901 non-null   float64
 19  Returns           287 non-null    float64
 20  Payment Mode      5901 non-null   object
 21  ind1              0 non-null      float64
 22  ind2              0 non-null      float64
dtypes: float64(5), int64(2), object(16)
memory usage: 1.0+ MB

# Find the number of times when the 'Product Name' Exactly Staples

In [16]:
SuperStore.head(1)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN

In [17]:
SuperStore['Product Name'].value_counts()

Easy-staple paper                               27
Staples                                         24
Staple envelope                                 22
Staples in misc. colors                         13
Chromcraft Round Conference Tables              12
                                                ..
Sony 8GB Class 10 Micro SDHC R40 Memory Card     1
Letter Slitter                                   1
Avery 479                                        1
OIC Thumb-Tacks                                  1
Acco Glide Clips                                 1
Name: Product Name, Length: 1742, dtype: int64

In [18]:
SuperStore[SuperStore['Product Name']=='Staples'].head(5)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
172,9063,CA-2019-101623,28-02-2019,06-03-2019,Standard Class,RR-19525,Rick Reed,Corporate,United States,New York City,...,Office Supplies,Fasteners,Staples,36.480,6,18.2400,NaN,Online,NaN,NaN
342,647,CA-2019-103947,01-04-2019,08-04-2019,Standard Class,BB-10990,Barry Blumstein,Corporate,United States,Sierra Vista,...,Office Supplies,Fasteners,Staples,31.560,5,9.8625,NaN,Online,NaN,NaN
1110,5679,CA-2019-143924,28-07-2019,03-08-2019,Standard Class,SC-20680,Steve Carroll,Home Office,United States,Holland,...,Office Supplies,Fasteners,Staples,20.440,7,9.1980,NaN,COD,NaN,NaN
1279,3346,CA-2019-145982,27-08-2019,01-09-2019,Second Class,TB-21055,Ted Butterfield,Consumer,United States,Quincy,...,Office Supplies,Fasteners,Staples,11.680,4,5.2560,NaN,Online,NaN,NaN
1315,2145,CA-2019-155481,01-09-2019,05-09-2019,Standard Class,DK-13225,Dean Katz,Corporate,United States,Philadelphia,...,Office Supplies,Fasteners,Staples,16.688,7,5.4236,NaN,COD,NaN,NaN

# Find the number of times when the 'Sub-Category' Copiers Exactly

In [19]:
SuperStore['Sub-Category'].value_counts()

Binders        915
Paper          825
Furnishings    573
Phones         519
Storage        498
Art            465
Accessories    461
Chairs         355
Appliances     279
Labels         211
Tables         190
Envelopes      133
Bookcases      131
Fasteners      124
Supplies       119
Machines        65
Copiers         38
Name: Sub-Category, dtype: int64

In [20]:
SuperStore[SuperStore['Sub-Category']=='Copiers']

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
9,2898,US-2019-164630,04-01-2019,09-01-2019,Standard Class,EB-13975,Erica Bern,Corporate,United States,Charlotte,...,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,959.968,4,119.9960,NaN,Online,NaN,NaN
368,754,CA-2019-110499,07-04-2019,09-04-2019,First Class,YC-21895,Yoseph Carroll,Corporate,United States,San Francisco,...,Technology,Copiers,Hewlett Packard 610 Color Digital Copier / Pri...,1199.976,3,374.9925,NaN,Online,NaN,NaN
650,6426,CA-2019-143714,23-05-2019,27-05-2019,Standard Class,CC-12370,Christopher Conant,Consumer,United States,Philadelphia,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,2399.976,4,1119.9968,NaN,COD,NaN,NaN
706,1234,CA-2019-153682,30-05-2019,01-06-2019,First Class,BG-11695,Brooke Gillingham,Corporate,United States,Cincinnati,...,Technology,Copiers,Canon Imageclass D680 Copier / Fax,839.988,2,69.9990,NaN,Online,NaN,NaN
933,7473,CA-2019-139997,01-07-2019,03-07-2019,First Class,EM-14140,Eugene Moren,Home Office,United States,Lehi,...,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,1499.950,5,449.9850,NaN,COD,NaN,NaN
960,3984,CA-2019-135265,07-07-2019,09-07-2019,Second Class,CC-12370,Christopher Conant,Consumer,United States,Los Angeles,...,Technology,Copiers,Canon PC1060 Personal Laser Copier,2799.960,5,944.9865,NaN,COD,NaN,NaN
1095,1987,CA-2019-147417,25-07-2019,27-07-2019,First Class,CB-12415,Christy Brittain,Consumer,United States,Columbus,...,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,1439.976,4,191.9968,NaN,Cards,NaN,NaN
1342,8179,CA-2019-166429,02-09-2019,08-09-2019,Standard Class,TG-21310,Toby Gnade,Consumer,United States,Des Moines,...,Technology,Copiers,Hewlett Packard 610 Color Digital Copier / Pri...,999.980,2,449.9910,NaN,Online,NaN,NaN
1383,9930,CA-2019-129630,04-09-2019,04-09-2019,Same Day,IM-15055,Ionia McGrath,Consumer,United States,San Francisco,...,Technology,Copiers,Canon PC1060 Personal Laser Copier,2799.960,5,944.9865,NaN,Cards,NaN,NaN
1471,4640,CA-2019-102162,11-09-2019,16-09-2019,Standard Class,JF-15565,Jill Fjeld,Consumer,United States,Newport News,...,Technology,Copiers,Canon PC-428 Personal Copier,1599.920,8,751.9624,NaN,COD,NaN,NaN
1631,9840,US-2019-125402,25-09-2019,01-10-2019,Standard Class,DL-12865,Dan Lawera,Consumer,United States,Long Beach,...,Technology,Copiers,Canon PC-428 Personal Copier,479.976,3,161.9919,NaN,COD,NaN,NaN
1681,6827,CA-2019-118689,02-10-2019,09-10-2019,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,499.950,5,8399.9760,NaN,Cards,NaN,NaN
1694,7667,US-2019-140158,04-10-2019,08-10-2019,Standard Class,DR-12940,Daniel Raglin,Home Office,United States,Providence,...,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,5399.910,9,2591.9568,NaN,Cards,NaN,NaN
2053,4813,CA-2019-121370,14-11-2019,19-11-2019,Second Class,EB-14110,Eugene Barchas,Consumer,United States,Philadelphia,...,Technology,Copiers,Sharp AL-1530CS Digital Copier,1199.976,4,179.9964,NaN,COD,NaN,NaN
2318,8571,CA-2019-162390,06-12-2019,12-12-2019,Standard Class,DP-13105,Dave Poirier,Corporate,United States,Hempstead,...,Technology,Copiers,Brother DCP1000 Digital 3 in 1 Multifunction M...,479.984,2,89.9970,NaN,COD,NaN,NaN
2494,6528,CA-2019-157791,23-12-2019,28-12-2019,Second Class,CA-11965,Carol Adams,Corporate,United States,Warwick,...,Technology,Copiers,Hewlett Packard 610 Color Digital Copier / Pri...,99.960,4,899.9820,NaN,Online,NaN,NaN
2687,516,CA-2020-127432,22-01-2020,27-01-2020,Standard Class,AD-10180,Alan Dominguez,Home Office,United States,Great Falls,...,Technology,Copiers,Canon Image Class D660 Copier,3026.950,5,1379.9770,NaN,COD,NaN,NaN
2901,8540,CA-2020-147354,09-03-2020,13-03-2020,Standard Class,KB-16315,Karl Braun,Consumer,United States,Los Angeles,...,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,521.984,2,59.9980,NaN,Online,NaN,NaN
2932,5569,CA-2020-157966,13-03-2020,13-03-2020,Same Day,SU-20665,Stephanie Ulpright,Home Office,United States,Chicago,...,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,1004.984,2,335.9944,NaN,Cards,NaN,NaN
3011,8154,CA-2020-140151,23-03-2020,25-03-2020,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,3445.960,4,6719.9808,1.0,COD,NaN,NaN
3029,2387,US-2020-117534,25-03-2020,26-03-2020,First Class,CV-12295,Christina VanderZanden,Consumer,United States,Fresno,...,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,527.984,2,59.9980,NaN,COD,NaN,NaN
3041,7174,US-2020-141677,26-03-2020,30-03-2020,Standard Class,HK-14890,Heather Kirkland,Corporate,United States,Houston,...,Technology,Copiers,Canon PC1080F Personal Copier,2412.960,5,569.9905,NaN,Online,NaN,NaN
3080,5563,CA-2020-133263,31-03-2020,02-04-2020,Second Class,JE-15610,Jim Epp,Corporate,United States,Atlanta,...,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,3013.950,5,1439.9760,NaN,Online,NaN,NaN
3349,3274,CA-2020-133865,08-05-2020,12-05-2020,Standard Class,PS-19045,Penelope Sewall,Home Office,United States,Los Angeles,...,Technology,Copiers,Canon Imageclass D680 Copier / Fax,3409.952,6,1049.9850,NaN,Online,NaN,NaN
3894,4573,CA-2020-126662,17-07-2020,21-07-2020,Standard Class,AB-10255,Alejandro Ballentine,Home Office,United States,Los Angeles,...,Technology,Copiers,Brother DCP1000 Digital 3 in 1 Multifunction M...,525.984,2,89.9970,NaN,COD,NaN,NaN
3903,7043,US-2020-165358,18-07-2020,23-07-2020,Standard Class,SV-20365,Seth Vernon,Consumer,United States,Philadelphia,...,Technology,Copiers,Canon PC-428 Personal Copier,641.970,5,69.9965,NaN,COD,NaN,NaN
3955,6902,US-2020-135013,24-07-2020,24-07-2020,Same Day,HR-14830,Harold Ryan,Corporate,United States,Huntington Beach,...,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,2441.960,5,839.9860,NaN,Online,NaN,NaN
4064,8254,CA-2020-152310,12-08-2020,19-08-2020,Standard Class,DK-12895,Dana Kaydos,Consumer,United States,Seattle,...,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,337.990,1,89.9970,NaN,Online,NaN,NaN
4187,3750,CA-2020-161956,27-08-2020,29-08-2020,Second Class,DR-12880,Dan Reichenbach,Corporate,United States,Inglewood,...,Technology,Copiers,Sharp 1540cs Digital Laser Copier,889.984,2,329.9940,1.0,COD,NaN,NaN
4339,6650,US-2020-124779,08-09-2020,11-09-2020,First Class,BF-11020,Barry Französisch,Corporate,United States,Arlington,...,Technology,Copiers,Canon PC-428 Personal Copier,331.984,2,107.9946,NaN,COD,NaN,NaN
4895,2624,CA-2020-127180,22-10-2020,24-10-2020,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,2212.968,4,3919.9888,NaN,COD,NaN,NaN
5013,8821,CA-2020-100622,03-11-2020,07-11-2020,Standard Class,DK-13090,Dave Kipp,Consumer,United States,Orlando,...,Technology,Copiers,Canon Image Class D660 Copier,995.984,2,311.9948,NaN,COD,NaN,NaN
5219,9618,CA-2020-160633,16-11-2020,21-11-2020,Standard Class,BS-11380,Bill Stewart,Corporate,United States,Bowling Green,...,Technology,Copiers,Hewlett Packard 610 Color Digital Copier / Pri...,910.982,3,74.9985,NaN,COD,NaN,NaN
5236,4191,CA-2020-166709,17-11-2020,22-11-2020,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,5517.970,3,5039.9856,NaN,COD,NaN,NaN
5588,407,CA-2020-117457,08-12-2020,12-12-2020,Standard Class,KH-16510,Keith Herrera,Consumer,United States,San Francisco,...,Technology,Copiers,Sharp AL-1530CS Digital Copier,718.976,3,434.9913,NaN,Online,NaN,NaN
5615,7521,US-2020-167920,09-12-2020,12-12-2020,Second Class,JL-15835,John Lee,Consumer,United States,Richmond,...,Technology,Copiers,Canon Imageclass D680 Copier / Fax,1444.980,2,629.9910,NaN,COD,NaN,NaN
5697,7698,CA-2020-151799,14-12-2020,18-12-2020,Standard Class,BF-11170,Ben Ferrer,Home Office,United States,Lawrence,...,Technology,Copiers,Canon PC1080F Personal Copier,162.980,2,467.9922,NaN,Cards,NaN,NaN
5826,4620,CA-2020-145219,24-12-2020,25-12-2020,First Class,RM-19675,Robert Marley,Home Office,United States,Los Angeles,...,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,536.952,6,1007.9832,NaN,Cards,NaN,NaN

# Find out all the the null values in the data

In [21]:
SuperStore.head(1)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN

In [22]:
SuperStore.isnull().head(10)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True

In [23]:
SuperStore.isnull().sum()

Row ID+O6G3A1:R6       0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Region                 0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Sales                  0
Quantity               0
Profit                 0
Returns             5614
Payment Mode           0
ind1                5901
ind2                5901
dtype: int64

# Rename the column name 'Weather'of the data frame 'Weather Condition'

In [24]:
SuperStore.head(2)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,NaN,Online,NaN,NaN

In [30]:
SuperStore.rename(columns={'ind1':'Hamza'},inplace=True)
SuperStore.head(2)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,NaN,Online,NaN,NaN

# What is Profit mean

In [31]:
SuperStore.head(2)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,NaN,Online,NaN,NaN

In [32]:
SuperStore.Profit.mean()

29.70040771055753

# What is Sales Profit mean

In [34]:
SuperStore.Sales.mean()

265.3455894255211

# What is standard Deviation 'Sales'in the data

In [35]:
SuperStore.Sales.std()

474.260645476471

# What is the variance of 'Profit'in this data

In [36]:
SuperStore.Profit.var()

67386.52075655355

# Find all instance when 'Sales'above 100 and 'Quantity 4 '

In [38]:
SuperStore.head(1)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN

In [60]:
SuperStore[(SuperStore['Sales'] >100) & (SuperStore['Quantity']==4)]

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
9,2898,US-2019-164630,04-01-2019,09-01-2019,Standard Class,EB-13975,Erica Bern,Corporate,United States,Charlotte,...,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,959.968,4,119.9960,NaN,Online,NaN,NaN
48,2303,CA-2019-106558,17-01-2019,21-01-2019,Standard Class,DL-13495,Dionis Lloyd,Corporate,United States,Columbus,...,Technology,Accessories,First Data FD10 PIN Pad,316.000,4,31.6000,NaN,Online,NaN,NaN
53,2472,US-2019-135923,22-01-2019,28-01-2019,Standard Class,CM-11935,Carlos Meador,Consumer,United States,Fayetteville,...,Furniture,Bookcases,"Sauder Forest Hills Library, Woodland Oak Finish",451.136,4,-67.6704,NaN,COD,NaN,NaN
59,6229,CA-2019-148208,22-01-2019,27-01-2019,Standard Class,BT-11530,Bradley Talbott,Home Office,United States,Cleveland,...,Technology,Phones,Panasonic Kx-TS550,110.376,4,-20.2356,NaN,Online,NaN,NaN
78,7565,US-2019-166660,30-01-2019,01-02-2019,Second Class,TB-21250,Tim Brockman,Consumer,United States,Seattle,...,Furniture,Chairs,Global Deluxe High-Back Office Chair in Storm,435.168,4,-59.8356,NaN,COD,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5861,2571,CA-2020-134404,27-12-2020,27-12-2020,Same Day,DR-12880,Dan Reichenbach,Corporate,United States,Newark,...,Office Supplies,Art,BIC Brite Liner Highlighters,1267.248,4,3.6432,NaN,Online,NaN,NaN
5867,271,CA-2020-163979,28-12-2020,02-01-2021,Second Class,KH-16690,Kristen Hastings,Corporate,United States,San Francisco,...,Office Supplies,Storage,Adjustable Depth Letter/Legal Cart,244.840,4,210.4936,NaN,COD,NaN,NaN
5877,572,CA-2020-164826,28-12-2020,04-01-2021,Standard Class,JF-15415,Jennifer Ferguson,Consumer,United States,New York City,...,Office Supplies,Fasteners,OIC Bulk Pack Metal Binder Clips,138.960,4,6.4216,NaN,COD,NaN,NaN
5886,1878,CA-2020-118885,29-12-2020,02-01-2021,Standard Class,JG-15160,James Galang,Consumer,United States,Los Angeles,...,Furniture,Chairs,"Global High-Back Leather Tilter, Burgundy",119.568,4,-44.2764,NaN,COD,NaN,NaN
5896,907,CA-2020-143259,30-12-2020,03-01-2021,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",213.136,4,12.1176,NaN,COD,NaN,NaN

# What is the mean value of each columns against each 'SuperStore'

In [63]:
SuperStore.head(1)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN

In [67]:
SuperStore.groupby('Country').mean()

C:\Users\HAMZA\AppData\Local\Temp\ipykernel_9160\3890252815.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  SuperStore.groupby('Country').mean()

,Row ID+O6G3A1:R6,Sales,Quantity,Profit,Returns,Hamza,ind2
Country,,,,,,,
United States,5022.422471,265.345589,3.781901,29.700408,1.0,NaN,NaN

In [70]:
SuperStore.groupby('Product Name').mean().head(5)

C:\Users\HAMZA\AppData\Local\Temp\ipykernel_9160\3096509278.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  SuperStore.groupby('Product Name').mean().head(5)

,Row ID+O6G3A1:R6,Sales,Quantity,Profit,Returns,Hamza,ind2
Product Name,,,,,,,
"""While you Were Out"" Message Book, One Form per Page",4271.333333,103.0760,2.666667,3.462667,1.0,NaN,NaN
"#10 Gummed Flap White Envelopes, 100/Box",3975.333333,44.5640,3.000000,4.873400,NaN,NaN,NaN
#10 Self-Seal White Envelopes,3763.250000,48.9205,2.500000,13.030750,NaN,NaN,NaN
"#10 White Business Envelopes,4 1/8 x 9 1/2",7256.750000,133.1670,5.250000,36.315225,NaN,NaN,NaN
"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",3050.666667,241.7160,3.666667,12.731267,1.0,NaN,NaN

# What is the minimum and maximum value of each columns against each 'Product Name'

In [71]:
SuperStore.head(1)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN

In [73]:
SuperStore.groupby('Product Name').max().head(2)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
Product Name,,,,,,,,,,,,,,,,,,,,,
"""While you Were Out"" Message Book, One Form per Page",7322,CA-2020-167626,30-10-2020,16-11-2020,Standard Class,MY-18295,Muhammed Yedwab,Corporate,United States,San Francisco,...,OFF-PA-10003424,Office Supplies,Paper,120.420,3,3.7100,1.0,Online,NaN,NaN
"#10 Gummed Flap White Envelopes, 100/Box",7828,CA-2020-117114,31-10-2020,21-01-2019,Standard Class,WB-21850,William Brown,Corporate,United States,New York City,...,OFF-EN-10001137,Office Supplies,Envelopes,108.912,4,7.5992,NaN,Online,NaN,NaN

In [74]:
SuperStore.groupby('Product Name').min().head(2)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
Product Name,,,,,,,,,,,,,,,,,,,,,
"""While you Were Out"" Message Book, One Form per Page",1709,CA-2020-123491,03-09-2020,05-11-2020,Second Class,JK-15205,Jamie Kunitz,Consumer,United States,Chicago,...,OFF-PA-10003424,Office Supplies,Paper,74.904,2,3.3390,1.0,COD,NaN,NaN
"#10 Gummed Flap White Envelopes, 100/Box",356,CA-2019-137848,08-04-2019,05-11-2020,Standard Class,CY-12745,Craig Yedwab,Consumer,United States,Chicago,...,OFF-EN-10001137,Office Supplies,Envelopes,8.260,2,3.2214,NaN,Online,NaN,NaN

# Find all instance when 'Product Name' and 'Profit' in above 3000

In [76]:
SuperStore['Product Name'].value_counts()

Easy-staple paper                               27
Staples                                         24
Staple envelope                                 22
Staples in misc. colors                         13
Chromcraft Round Conference Tables              12
                                                ..
Sony 8GB Class 10 Micro SDHC R40 Memory Card     1
Letter Slitter                                   1
Avery 479                                        1
OIC Thumb-Tacks                                  1
Acco Glide Clips                                 1
Name: Product Name, Length: 1742, dtype: int64

In [80]:
SuperStore[(SuperStore['Product Name'] == 'Staple envelope')& (SuperStore['Profit']<3000)].head(6)

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
87,7505,CA-2019-158043,31-01-2019,04-02-2019,Second Class,JK-15325,Jason Klamczynski,Corporate,United States,Atlantic City,...,Office Supplies,Envelopes,Staple envelope,23.360,2,11.6800,NaN,Cards,NaN,NaN
167,2742,CA-2019-165015,25-02-2019,27-02-2019,Second Class,BD-11725,Bruce Degenhardt,Consumer,United States,Newark,...,Office Supplies,Envelopes,Staple envelope,46.720,5,17.5200,NaN,Online,NaN,NaN
239,3607,CA-2019-119683,12-03-2019,16-03-2019,Second Class,CK-12595,Clytie Kelty,Consumer,United States,New York City,...,Office Supplies,Envelopes,Staple envelope,29.340,3,13.4964,NaN,COD,NaN,NaN
566,1557,CA-2019-109176,09-05-2019,15-05-2019,Standard Class,JW-16075,Julia West,Consumer,United States,Philadelphia,...,Office Supplies,Envelopes,Staple envelope,9.344,1,3.5040,NaN,Cards,NaN,NaN
1379,9073,CA-2019-142524,04-09-2019,08-09-2019,Standard Class,MB-18085,Mick Brown,Consumer,United States,Springfield,...,Office Supplies,Envelopes,Staple envelope,16.560,2,7.7832,NaN,Online,NaN,NaN
1396,3874,CA-2019-136231,05-09-2019,07-09-2019,Second Class,DM-13015,Darrin Martin,Consumer,United States,Johnson City,...,Office Supplies,Envelopes,Staple envelope,23.472,3,7.6284,NaN,Cards,NaN,NaN

In [84]:
SuperStore.fillna(0).head()

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,Hamza,ind2
0,4918,CA-2019-160304,01-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,0.0,Online,0.0,0.0
1,4919,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,0.0,Online,0.0,0.0
2,4920,CA-2019-160304,02-01-2019,07-01-2019,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Technology,Phones,GE 30522EE2,231.98,2,67.2742,0.0,Cards,0.0,0.0
3,3074,CA-2019-125206,03-01-2019,05-01-2019,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,0.0,Online,0.0,0.0
4,8604,US-2019-116365,03-01-2019,08-01-2019,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.08,2,-5.2640,0.0,Online,0.0,0.0